<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShiXun09</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Student</servlet-name>
  	<servlet-class>com.situ.student.controller.StudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Student</servlet-name>
  	<url-pattern>/student</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.situ.student.controller.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
  	<filter-name>Login</filter-name>
  	<filter-class>com.situ.student.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>Login</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>